/* Reset default margin and padding for all elements */
* {
    padding: 0;
    margin: 0;
}

/* Sidebar styles */
.side-bar {
    background-color: #1f2937;
    height: 100vh;
    width: 25vh;
    padding: 20px;
    position: fixed;
}

/* Styling for links inside cards */
.card a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: sans-serif;
}

/* Main content area */
.main {
    height: 100vh;
    width: 100vw;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: row;
}

/* Common styling for cards */
.card {
    width: 10vw;
    height: 5vh;
    border-radius: 1.5em;
    margin: 10px;
    padding: 15px;
    gap: 9px;
}

/* Hover effect on cards */
.card:hover {
    background-color: #2a3b53;
}

/* Dashboard styles */
.dash {
    margin-left: 14vw;
    width: 84.5vw;
}

/* Navigation bar styles */
.nav {
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Search bar styles */
.search {
    border-radius: 1em;
    background-color: white;
    padding: 10px;
    width: 15vw;
    margin: 10px;
}

/* Styles for the search bar and other elements inside it */
.search-other {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Graph container styles */
.graph {
    background-color: #ffeed6;
    margin: 17px;
    padding: 9px;
    height: 50vh;
    border-radius: 1em;
}

/* Styles for elements not visible on desktop view */
.buttn {
    display: none;
}

/* Generic flex container styles */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Input styles */
.input {
    border: 0px;
    padding: 6px;
    width: 15vw;
}

.input:focus {
    outline: none;
}

/* Sidebar icon styles */
.icon {
    height: 23px;
}

/* Priority card styles */
.priority {
    width: 10vw;
    height: 5vh;
    border-radius: 1.5em;
    margin: 10px;
    padding: 15px;
    gap: 9px;
    background-color: #2a3b53;
}

/* Cross button styles */
.cross {
    visibility: hidden;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    .buttn {
        display: inline;
        margin: 10px;
        padding: 5px;
    }

    .buttn img {
        background-color: gray;
        color: black;
        padding: 5px;
        border-radius: 0.3em;
    }

    .buttn button {
        border: 0px;
    }

    .side-bar {
        visibility: hidden;
        width: 100vw;
        align-items: center;
    }

    .card {
        width: 60vw;
    }

    .card a {
        font-size: 25px;
    }

    .dash {
        margin: 0px;
        width: 100vw;
    }

    .search {
        width: 35vw;
    }

    .cross button {
        background-color: #1f2937;
        padding: 5px;
        border: 0px;
    }

    .nav {
        justify-content: space-around;
    }

    /* Common class for icons */
    .icon {
        height: 32px;
    }
}
