*{
    padding: 0;
    margin: 0;
}

.side-bar{
    background-color: white;
    height: 40px;
    width: 100vw;
    /* padding: 20px; */
    position: fixed;
    

}
.side-bar ul {
    background-image: url('images/bg_1.jpg');
    width: 100vw;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    background-size: cover;
}
.side-bar ul li{
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-align: center;
}
.side-bar ul li:hover{
    background-color:black;
    border-radius: 1em;


}
.side-bar ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    color: white; 
    font-weight: 550;
    font-family: sans-serif;
}
.side-bar ul li a:hover{
    color: white;
}



.main{
    height: 100vh;
    width: 100vw;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: row;
}


.lower{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hd{
    font-size: 8vw;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.headlines{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    margin: 10px;
    width: 70vw;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 1.5em;
    gap: 10px;
    font-family: sans-serif;
}
.card img{
    height: 40vh;
    width: 50vw;
    border-radius: 2em;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input{
    border:0px;
    padding: 6px;
    width: 15vw;    
}
.input:focus{
    border:0px solid gray;
}


.news{
    background-image: url('images/bg_1.jpg');
    /* margin-top: 20px; */
    height: 100vh;
    background-size: cover;
    color: white;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
/* side bar icon */
.icon{
    height: 23px;
    
}
.priority{
    width: 10vw;
    height: 5vh;
    border-radius: 1.5em;
    margin: 10px;
    padding: 15px;
    gap: 9px;
    background-color: black;
    color: white;

}