*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url('quiz1/asset 4.png');
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    
}
.show{
    margin: 30px;
    height: 20vh;
    width: 100vh;
    gap: 10px;
}

.show h2{
    color: white;
    
}
.shape{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    background-color: #3c515c;
    font-size: 27px;
    width: 2vw;
    height: 2vw;
    font-family: sans-serif;
}


.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dash{
    font-size: 20px;
    margin: 5px;
    color: #3c515c;
}
.priority-dash{
    font-size: 20px;
    margin: 5px;
    color:  #92e3a9;
    

}
.priority{
    border-radius: 50%;
    padding: 5px;
    background-color: #92e3a9;
    font-size: 27px;
    width: 2vw;
    height: 2vw;
    font-family: sans-serif;

}

.questions{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.image{
    width: 20vw;
}
.cl{
    width: 80%;
}
.cl h1{
    color: white;
}